<ion-header>
  <ion-toolbar color="mycolor">
    <ion-button color="warning" [routerLink]="['/menu']">
      <ion-icon slot="end" name="chevron-back-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Datos del Viaje</ion-card-title>
      <ion-card-subtitle>Mensaje</ion-card-subtitle>
    </ion-card-header>

    <img alt="Silhouette of mountains" src="assets/img/13.JPG"/>
  
    <ion-card-content>
      Tarifa: $2000
      <br>
      Chofer: Calfun
      <br>
      Modelo: Toyota Yaris 2015.
      <br>
      Capacidad: 4.
      <br>
      Patente: LK876.
      <br>
      Color: Azul.
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar color="mycolor"></ion-toolbar>
  <ion-title>TeLlevoApp</ion-title>
</ion-footer>