<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button> 
    </ion-buttons>
    <ion-title>TeLlevoApp</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Crear Viaje</ion-card-title>
      <br>
      <br>
      <img alt="auto" src="assets/img/10.webp"/>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioViaje">
        <ion-item>
          <ion-label position="floating">Destino</ion-label>
          <ion-input formControlName="destino"></ion-input> 
          
        </ion-item>
        <ion-item>
          <ion-label position="floating">Capacidad</ion-label>
          <ion-input formControlName="capacidad"></ion-input>
           
        </ion-item>
        <ion-item>
          <ion-label position="floating">Tarifa</ion-label>
          <ion-input formControlName="tarifa"></ion-input> 
        </ion-item>
        <br>
        <ion-button color="warning" (click)="solicitar()">
          Guardar
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar color="mycolor"></ion-toolbar>
</ion-footer>

