<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-back-button text="atras" name="arrow-back-outline"></ion-back-button>
     </ion-buttons> 
      <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
      <img alt="persona" src="assets/img/2.jpg" />
  <br>
  <ion-button expand="block" color="warning" [routerLink]="['/auto']">
      <ion-icon  slot="start" name="add-outline"></ion-icon>Crear Viaje
    </ion-button>
    
    <ion-button expand="block" color="warning" [routerLink]="['/viaje']"> Viaje
      <ion-icon slot="end" name="car-outline"></ion-icon>
    </ion-button>
    <img alt="duoc1" src="assets/img/7.jpg" />
    <br>
    <img alt="duoc2" src="assets/img/8.png" />
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar color="mycolor">
    <ion-button color="warning" [routerLink]="['/map']">
      <ion-icon name="map-outline"></ion-icon>
    </ion-button>
    <ion-button color="warning" slot="end">
      <ion-button color="warning" [routerLink]="['/login']">
        <ion-icon slot="end" name="exit"></ion-icon>
      </ion-button>
      <ion-button color="warning" [routerLink]="['/inicio']">
        <ion-icon slot="end" name="person"></ion-icon>
      </ion-button>
    </ion-button>
  </ion-toolbar>
</ion-footer>
