<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title>TeLlevoApp</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <ion-button expand="block" shape="round" color="warning" [routerLink]="['/login']">
    <ion-icon  slot="start" name="person"></ion-icon>
    Iniciar
    <br>
    Sesión
  </ion-button>
  <ion-button expand="block"shape="round" color="warning" [routerLink]="['/registro']">
    Crear
    <br>
    Sesión
    <ion-icon slot="end" name="add-circle-outline"></ion-icon>
  </ion-button>

</ion-content>

<ion-footer>
  <ion-toolbar color="mycolor">
  </ion-toolbar>
</ion-footer>
