<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button> 
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <img alt="person" src="assets/img/5.JPG" />
    <ion-card-header>
      <ion-card-title>Francisco Calfun </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Ingenieria en informatica
    </ion-card-content>
    <img alt="Silhouette of mountains" src="assets/img/6.JPG"/>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar color="mycolor">
  </ion-toolbar>
</ion-footer>

