<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button> 
    </ion-buttons>
    <ion-title>Viajes Disponibles</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/img/11.JPG"/>
    <ion-card-header>
      <ion-card-subtitle>Destino: Osorno</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Tarifa: $2000
      <br>
      Chofer: Calfun
      <br>
      Modelo: Toyota Yaris 2015.
      <br>
      Capacidad: 4.
      <br>
      Patente: LK876.
      <br>
      Color: Azul.
    </ion-card-content>
    <ion-button expand="block" color="warning" [routerLink]="['/mensaje']">Solicitar Viaje</ion-button>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/img/11.JPG"/>
    <ion-card-header>
      <ion-card-subtitle>Destino: Frutillar</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Tarifa: $2000
      <br>
      Chofer: Calfun
      <br>
      Modelo: Toyota Yaris 2015.
      <br>
      Capacidad: 4.
      <br>
      Patente: LK876.
      <br>
      Color: Azul.
    </ion-card-content>
    <ion-button expand="block" color="warning" [routerLink]="['/mensaje']">Solicitar Viaje</ion-button>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/img/11.JPG"/>
    <ion-card-header>
      <ion-card-subtitle>Destino: Calbuco</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Tarifa: $2000
      <br>
      Chofer: Calfun
      <br>
      Modelo: Toyota Yaris 2015.
      <br>
      Capacidad: 4.
      <br>
      Patente: LK876.
      <br>
      Color: Azul.
    </ion-card-content>
    <ion-button expand="block" color="warning" [routerLink]="['/mensaje']">Solicitar Viaje</ion-button>
  </ion-card>

</ion-content>
<ion-footer>
  <ion-toolbar color="mycolor">
  <ion-title></ion-title>
</ion-toolbar>
</ion-footer>
